{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    // stage 1
    "transform-class-properties",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "presets": [
        "jsdoc-to-assert",
        "power-assert"
      ]
    }
  }
}
