.Item {
    display: inline-block;
    position: relative;
    background: white;
    cursor: pointer;
}

.Item > * {
    pointer-events: none;
}

.Item-title {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

/* Cardの中身は中央寄せする */
.Item-thumbnail {
    display: block;
    margin: 0 auto;
}

.Item-title {
    text-align: center;
}
